<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redisSection" type="UAsp.Redis.RedisSection, UAsp.Redis, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <redisSection cluster="true" db="0" password="">
    <write>
      <add ip="127.0.0.1" port="6379" timeout="3000" pool="1"/>
      <!-- <add ip="192.168.6.134" port="6379" timeout="3000" pool="2"/>
      <add ip="192.168.6.131" port="6379" timeout="3000" pool="2"/>
      <add ip="192.168.6.131" port="6380" timeout="3000" pool="2"/>
      <add ip="192.168.6.134" port="6380" timeout="3000" pool="2"/>
      <add ip="192.168.6.131" port="6381" timeout="3000" pool="2"/>-->
    </write>
    <read>
      <add ip="127.0.0.1" port="6379" timeout="3000" pool="1"/>
      <!--<add ip="192.168.6.134" port="6379" timeout="3000" pool="2"/>
      <add ip="192.168.6.131" port="6379" timeout="3000" pool="2"/>
      <add ip="192.168.6.134" port="6379" timeout="3000" pool="2"/>
      <add ip="192.168.6.131" port="6380" timeout="3000" pool="2"/>
      <add ip="192.168.6.134" port="6380" timeout="3000" pool="2"/>-->
      
    </read>
  </redisSection>
</configuration>